@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Joti+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  background-color: #23232f; }

body {
  background-image: linear-gradient(to top, #23232f, #3d445b, #52698c, #6292bf, #6bbef2); }

body a {
  background-image: linear-gradient(to bottom, #23232f, #3d445b, #6292bf, #6292bf);
  background-clip: text;
  color: transparent;
  text-decoration: none; }

.Teclitu {
  text-align: center; }

h1 {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
  color: #6BBEF2;
  justify-content: center;
  transform: skewX(20deg); 
}
  

h2 {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
  transform: skewX(20deg); }

p {
  font-family: "Joti One", serif;
  font-size: 2rem;
  font-weight: 300;
  color: #F2F2F2;
  line-height: 1.5; }

.letra-footer {
  color: white; }

.boton {
  padding: 0.625rem;
  text-decoration: none;
  background-color: #6BBEF2;
  color: white;
  border-radius: 30px;
  border: 0;
  width: 150px;
  margin: 0; }

.navbar {
  color: white;
  text-align: center; }

.navbar li:hover {
  transform: scale(1.2); }

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #23232f;
  color: #6BBEF2; }

.nav-logo {
  width: 150px;
  display: flex;
  justify-content: center; }

.nav-img {
  width: 100%; }

ul {
  list-style: none;
  gap: 20px;
  display: flex;
  align-items: end; }

a {
  text-decoration: none;
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
  color: #F2F2F2; }

.boton-mouse:hover {
  transform: scale(1.2); }

.titulo-pri {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #0D0D0D; }

.titulo-text {
  height: 100%;
  width: 30%;
  display: flexbox;
  text-decoration: aliceblue; }

.tituloo {
  color: #6BBEF2; }

.imagen-princi {
  width: 50%;
  margin: 0; }

.princi-img {
  width: 80%;
  display: block;
  max-width: 950px;
  margin: 0 auto; }

.boton-mouse {
  padding: 0.625rem;
  text-decoration: none;
  background-color: white;
  color: #6BBEF2;
  border-radius: 20px;
  border: 0;
  width: 150px;
  margin: 0; }

.animacion {
  -webkit-animation: vibrate-1 0.5s linear infinite both;
  animation: vibrate-1 0.5s linear infinite both;
  animation-name: animacion;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-delay: 1s; }

@keyframes animacion {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes animacion {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

h1.titulos {
  text-align: center;
  color: white;
  animation-name: titulos;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-delay: 1s; }

@keyframes titulos {
  0% {
    background-color: #0D0D0D; }
  40% {
    background-color: #23232f; }
  80% {
    background-color: #6BBEF2; }
  100% {
    background-color: #0D0D0D; } }

.container {
  width: 100%;
  max-width: 1100px;
  display: flex; }

.card {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #23232f, #3d445b, #52698c, #6292bf, #6bbef2);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0);
  color: white;
  transition: all 400ms ease;
  text-align: center; }

.card li {
  color: white; }

.figure {
  width: 100%; }

.fondocontacto {
  background-color: #6E7373; }

.mapa-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.mapa-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media (max-width: 160rem) {
  .nav-img {
    width: 70%; } }

@media (max-width: 90rem) {
  .nav-img {
    width: 65%; } }

/*!--------Media-Query-1024-Inicio------>*/
@media (max-width: 1024px) {
  h1 {
    font-size: 37px; }
  .nav-img {
    width: 60%; }
  a {
    font-size: 18px; }
  .boton-mouse {
    padding: 8px;
    text-decoration: none;
    background-color: #6BBEF2;
    color: white;
    border-radius: 30px;
    border: 0;
    width: 130px;
    margin: 0; } }

/*!--------Media-Query-768-Inicio------*/
@media (max-width: 768px) {
  h1 {
    font-size: 29px; }
  .nav-img {
    width: 70%; }
  a {
    font-size: 16px; } }

.boton-mouse:hover {
  transform: translateX(1.2);
  padding: 7px;
  text-decoration: none;
  background-color: #6BBEF2;
  color: white;
  border-radius: 30px;
  border: 0;
  width: 130px;
  margin: 0; }

/*!--------Media-Query-425-Inicio------*/
@media (max-width: 425px) {
  h1 {
    font-size: 27px; }
  a {
    font-size: 14px; }
  .boton-mouse {
    transform: translateX(1.2);
    padding: 6px;
    text-decoration: none;
    background-color: #6BBEF2;
    color: white;
    border-radius: 30px;
    border: 0;
    width: 120px;
    margin: 0; }
  .nav-img {
    width: 60%; }
  .titulo-pri {
    flex-direction: column; }
  .titulo-text {
    width: 70%; }
  .imagen-princi {
    width: 80%; }
  .footer-texto {
    width: 60%; }
  .producto-tecl img {
    width: 60%; } }

.footer-teclado {
  background-color: #6BBEF2; }

/*!--------Media-Query-375-Inicio------*/
@media (max-width: 375px) {
  h1 {
    font-size: 27px; }
  a {
    font-size: 14px; }
  .nav-img {
    width: 60%; }
  .boton-mouse {
    transform: translateX(1.2);
    padding: 6px;
    text-decoration: none;
    background-color: #6BBEF2;
    color: white;
    border-radius: 30px;
    border: 0;
    width: 120px;
    margin: 0; }
  .titulo-pri {
    flex-direction: column; }
  .titulo-text {
    width: 70%; }
  .imagen-princi {
    width: 100%; }
  .producto-tecl img {
    width: 60%; } }

/*!--------Media-Query-320-Inicio------*/
@media (max-width: 320px) {
  h1 {
    font-size: 27px; }
  .titulo-pri {
    text-align: center; }
  a {
    font-size: 14px; }
  .nav-img {
    width: 60%; }
  .boton-mouse {
    transform: translateX(1.2);
    padding: 4px;
    text-decoration: none;
    background-color: #6BBEF2;
    color: white;
    border-radius: 30px;
    border: 0;
    width: 100px;
    margin: 0; }
  .titulo-pri {
    flex-direction: column; }
  .titulo-text {
    width: 80%; }
  .imagen-princi {
    width: 100%; }
  br {
    display: none; } }

/*!--------Media-Query-1295 Teclados-------*/
@media (max-width: 1295px) {
  .boton-mouse {
    .boton-teclado {
      padding: 9px;
      width: 140px; } 
}
}

/*!--------Media-Query-1025 Teclados-------*/
@media (max-width: 1024px) {
  .boton-mouse {
  .boton-teclado {
    padding: 9px;
    width: 140px; } }
  }
@media (max-width: 320px) {
  .footer-teclado {
    width: 100%; }
    .footer-teclado .article.footer-logos {
      max-width: 100%; }
    .footer-teclado .producto-tecl img {
      width: 100px; } }
