/*Utilities*/
/*base*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Joti+One&display=swap");
h2 {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
  color: white; }

p {
  font-family: "Joti One", serif;
  font-size: 2rem;
  font-weight: 300;
  color: #F2F2F2;
  line-height: 1.5; }

.main2 {
  background-image: linear-gradient(to bottom, #23232f, #3d445b, #52698c, #6292bf, #6bbef2);
  text-align: center; }

.titulo-pri {
  justify-content: center;
  flex-direction: column;
  width: 100%; }

.titulo-text {
  display: flexbox;
  height: 100%;
  width: 100%; }

.imagen-princi {
  height: auto;
  display: block;
  max-width: 1400px; }

.boton-inicio {
  padding: 0.625rem;
  text-decoration: none;
  background-color: white;
  color: #6BBEF2;
  border-radius: 30px;
  border: 0;
  width: 150px;
  margin: 0; }
  .boton-inicio:hover {
    transform: scale(1.2);
    color: black; }

/*Layout*/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center; }

.container2 {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px; }
  .container2 .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .container2 .footer-content .column {
      flex: 1;
      min-width: 200px;
      margin-bottom: 20px; }
      .container2 .footer-content .column h3 {
        font-size: 1.5em;
        margin-bottom: 10px; }
      .container2 .footer-content .column p {
        font-size: 1em; }
    .container2 .footer-content .social-icons {
      font-size: 1.5em; }
      .container2 .footer-content .social-icons a {
        margin-right: 15px; }
        .container2 .footer-content .social-icons a img {
          width: 32px;
          height: 32px; }
  .container2 .footer-bottom {
    margin-top: 100px;
    border-top: 1px solid #444;
    padding-top: 10px; }
    .container2 .footer-bottom p {
      margin: 0;
      font-size: 0.9em; }

.main1 {
  background-image: linear-gradient(to bottom, #23232f, #3d445b, #52698c, #6292bf, #6bbef2);
  color: white; }

.servicios-card {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #23232f, #3d445b, #52698c, #6292bf, #6bbef2);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0);
  color: white;
  transition: all 400ms ease;
  text-align: center; }

.card li {
  color: white; }

.figure {
  width: 100%; }

.boton-mouse {
  padding: 0.625rem;
  text-decoration: none;
  background-color: white;
  color: #6BBEF2;
  border-radius: 30px;
  border: 0;
  width: 150px;
  margin: 0; }
  .boton-mouse:hover {
    transform: scale(1.2);
    color: black; }

.fondocontacto {
  background-color: #2323232f; }

.mapa-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.mapa-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.animacion {
  -webkit-animation: vibrate-1 0.5s linear infinite both;
  animation: vibrate-1 0.5s linear infinite both;
  animation-name: animacion;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-delay: 1s; }

@keyframes animacion {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes animacion {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

.titulos {
  text-align: center;
  color: white;
  animation-name: titulos;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-delay: 1s; }

@keyframes titulos {
  0% {
    background-color: #0D0D0D; }
  40% {
    background-color: #23232f; }
  80% {
    background-color: #6BBEF2; }
  100% {
    background-color: #0D0D0D; } }

/*Componentes*/
/*----barra nav----*/
.nav-img {
  max-width: 80px;
  height: auto; }

.navbar {
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 4px red; }

.navbar-nav .nav-link {
  font-size: 1.25rem;
  font-weight: 500;
  color: #6BBEF2;
  transition: color 0.3s ease; }
  .navbar-nav .nav-link:hover {
    color: #03333f; }

.navbar-collapse {
  display: flex;
  justify-content: flex-end; }

/*mediaquiery*/
@media (max-width: 325px) {
  h1 {
    font-size: 27px; }
  .titulo-pri {
    text-align: center; }
  a {
    font-size: 14px; }
  .nav-img {
    width: 60%; }
  .boton-mouse {
    transform: translateX(1.2);
    padding: 4px;
    text-decoration: none;
    background-color: #6BBEF2;
    color: white;
    border-radius: 30px;
    border: 0;
    width: 100px;
    margin: 0; }
  .titulo-pri {
    flex-direction: column; }
  .titulo-text {
    width: 100%; }
  .imagen-princi {
    width: 100%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: joti one;
  line-height: 1.6; }
