    /*Utilities*/
@import "./utilities/extends";
@import "./utilities/mixin";

    /*base*/

@import "./base/fuentes";
@import "./layout/inicio";

/*Layout*/

@import "./layout/footer";
@import "./layout/productos";
@import "./layout/botones";
@import "./layout/contacto";
@import "./layout/animacion";


/*Componentes*/


@import "./components/boostrapnav";

/*mediaquiery*/

@import "./layout/media/media320px";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: joti one;
    line-height: 1.6;
  }
  
