/*----barra nav----*/
.nav-img {
    max-width: 80px;
    height: auto;
}

.navbar {
    padding: 0.75rem 1rem;
    box-shadow: 0 2px 4px red;

}

.navbar-nav .nav-link {
    font-size: 1.25rem;
    font-weight: 500;
    color: #6BBEF2;
    transition: color 0.3s ease;

    &:hover {
        color:rgb(3, 51, 63);
    }
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}
.navbar-toggler{
    
    border-color: $colorletra2;
    background-color: $colorletra1;
}

